h1 {
    text-align: center;
    background-color: chocolate;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: chocolate;
    color: white;
    font-size: 24px; 
    padding: 10px;
    border-radius: 0px;
}

.navbar a.navbar-item {
    color: white;
    padding: 0px 75px;
}

.navbar a.navbar-item.active:hover {
    background-color: white;
    color: chocolate;
    font-weight: bold;
    border-radius: 100px;
}

.submit {
    background-color: chocolate;
    color: white;

}

#actor-name {
    width: 25%
}

#landing-page {
    text-align: center;
    font-size: 24px;
    background-color: chocolate;
    color: white;
    font-weight: bold;
}

#search-form .button{ 
    background-color: brown;
    color: white;
} 

#search-form .button:hover{ 
    background-color: white;
    color: black;
} 

#results-page {
    text-align: center; 
    background-color: chocolate;
    color: white;
    font-size: 24px;
}

#search-form {
    text-align: center;
    font-size: 24px;
    background-color: chocolate;
    color: white;
    font-weight: bold;
}

#search-form .input{
    width: 100%;
}

body {
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.place-holder{
    font-size:16px;
    font-weight: bold;
}

#error-message{
    font-size: 20px;
} 
 
.backBtnDiv{
    text-align: center;
    background-color: chocolate; 
    padding-bottom: 20px; 
}

#back{
    background-color: brown;
    color: white;
    border: none;
}

.footer{
    background-color: chocolate;
    color: white;
}

#delete{
    background-color: red;
    color: black;
}

#error-message{
    text-align: center;
}

#e-head{
    background-color: blue;
   
}

#e-head p{
    color: white;
}

#e-message{
    background-color: gray;
    color: white;
}

#e-footer{
    background-color: gray;
    justify-content: center;
}

@media(min-width: 720px){
    #search-form .input{
        width: 50%;
    }
}

